@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* title page */

.event-title{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #2D25A0;
    padding: 5%;

}
.title-position{
    padding-left: 70px;
}
h1{
    font-size: 64px;
    font-weight: bold;
    color: white;
    line-height: 80px;
    margin-bottom: 27px;
}
.watch-live-btn{
    font-size: 16px;
    padding: 10px 24px;
    color: white;
    text-decoration: none;
    background-color: #E02C6D;
}
.arrow{
    color: white;
    font-size: 16px;
    padding: 4px 5px;
}
.banner-img{
    width: 556.01px;
    height: 438px;
    padding-left: 50px;
}

/* Section Two Desgin */

.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 27px;
    margin: 70px 180px;
}
.player-detail{
    /* border: red solid 2px; */
    padding: 15px;
    width: 300px;
    height: 500px;
    text-align: justify;
    margin-right: 30px;
    color: #18191F;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player-img{
    width: 300px;
    height: 256px;
}
.player-text{
    font-size: 16px;
    color:#6C6C6C;
}

/* footer design */
.footer-align{
    text-align: center;
}
.logo{
    font-size: 50px;
}
.fa-futbol{
    color: navy;
    font-size: 65px;
}
#football-font{
    font-family: 'Lobster', cursive;
}
.icons{
    margin-left: 25px;
    font-size: 30px;
}
.i-color{
    color: #969BAB;
}
.copy-text-size{
    font-size: 18px;
}